<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../scripts/color.js"></script>


    <title>Document</title>
</head>

<body>
    <select name="color" id="color">
        <option value="azul">azul</option>
        <option value="verde">verde</option>
        <option value="cinza_claro">cinza_claro</option>
        <option value="cinza_escuro">cinza_escuro</option>
    </select>


    <button onclick="color.getColor()"></button>
</body>

</html>