<!DOCTYPE html>

<html lang="en" dir="ltr" class="theme">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/modal.css">
    <link rel="stylesheet" href="../style/sidebar.css">
    <link rel="stylesheet" href="../style/cores.css">
    <link rel="stylesheet" href="../style/table.css">
    <link rel="stylesheet" href="../style/theme.css">

    <script src="../js/login.js"></script>
    <script src="../js/onload.js"></script>


    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body onload="load('listas')">




    <!-- Slidebar inicio -->
    <div class="sidebar theme open" onmouseover="open_nav()" onmouseout="close_nav()">
        <div class="logo-details">
            <i class='bx bx-money icon rainbow'></i>
            <div class="logo_name theme">Finanças</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a class="changeColor padrao" href="./Ganhos.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a class="changeColor padrao" href="./Config.html">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Config</span>
                </a>
                <span class="tooltip">Config</span>
            </li>
            <li class="profile theme">
                <div class="profile-details">
                    <img src="../img/profile.jpg" alt="profileImg">
                    <div class="name_job">
                        <div class="name theme">Admin</div>
                        <div class="job theme">Admin</div>
                    </div>
                </div>
                <i class='bx bx-log-out theme' id="log_out" onclick="login.log_out()"></i>
            </li>
        </ul>
    </div>
    <!-- Slidebar Fim -->

    <!--Top Bar-->
    <section class="home-section theme">
        <div class="top_bar theme">
            <div>
                Dashboard
            </div>
            <div class="button_theme">
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label_theme theme">
                    <i class='bx bx-moon'></i>
                    <i class='bx bx-sun'></i>
                    <div class="ball"></div>
                </label>
            </div>
        </div>


        <main>
            <div class="box_table">
                <div class="box">
                    <div id="menu">
                        <i id="new" onclick="abrirModal()">Novo</i>
                    </div>
                    <hr id="div">
                    <div id="contain">
                        <table class="styled-table">
                            <thead>
                                <tr class="changeColor padrao">
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                    <th>Vencimento</th>
                                    <th>Metodo de Pagamento</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </main>
    </section>




    <!-- modal inicio -->

    <div id="modal_cad" class="modal-container">
        <div class="modal">
            <div class="modal_header">
                <div class="buttons">
                    <a class="button close" id="close_btn" onclick="fecharModal('modal_cad')">X</a>
                </div>
            </div>
            <div class="modal_main">
                <form>
                    <input id="descrição" type="text">
                    <input id="valor" type="number">
                    <input id="vencimento" type="date">
                    <input id="metodoPag" type="text">
                </form>
            </div>

            <div class="modal_footer">
                <div class="buttons">

                    <a class="button retangulo" onclick="table.cancelar()">Cancelar</a>
                    <a class="button retangulo" href="#" onclick="table.addArray('listas')">Salvar</a>


                </div>
            </div>
        </div>


    </div>


    <!-- modal fim -->








    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");

        function open_nav() {
            sidebar.classList.add("open");
        }
        function close_nav() {
            sidebar.classList.remove("open");
        }



    </script>


    <script>
        function abrirModal(){
            const modal = document.getElementById('modal_cad')
            modal.classList.add('mostrar');
        }

        function fecharModal() {
            const modal = document.getElementById('modal_cad')
            modal.classList.remove('mostrar');
        }

        

    </script>



    <script src="../js/table.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>