<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Financas</title>

    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="../style/index.css">

    <script : src="../Js/login.js"></script>
    

</head>

<body>

    <!--Top Bar-->

    <section class="home theme">
        <div class="top_bar theme">
            <div>
                E-Comerce
            </div>
            <div class="button_theme">
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label_theme theme">
                    <i class='bx bx-moon'></i>
                    <i class='bx bx-sun'></i>
                    <div class="ball"></div>
                </label>
            </div>
        </div>

    <!--Login-->

    <div class="container theme">
        <div class="box-login">

            <h1 class="txtcenter">Login</h1>

            <div class="inputs-padrao">
                <input class="input-padrao" type="text" class="input" placeholder="User" id="txUser">
                <input class="input-padrao" type="password" class="input" placeholder="Password" id="txPassword">
                <button class="button-padrao" onclick="login.logar()">Logar</button>

            </div>

        </div>
    </div>

    <script src="../js/theme.js"></script>

</body>

</html>