/* SideBar Base -> Inicio  */
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #fff;
    padding: 6px 14px;
    z-index: 5;
    transition: all 0.5s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .sidebar.open{
    width: 250px;
  }
  
   /* SideBar Base -> Fim  */
  
  
   
  /* Header Sidebar -> Inicio */
  
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  
  }
  
  .sidebar .logo-details .logo_name{
    color: black;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #007BFF;
  }
  
  
  
  /* Header Sidebar -> Fim */
  
  
  /* ---------------------Body Sidebar -> Inicio ---------------*/
  
  
  /* Posicionamento/Estilo icones ->*/
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  
  /* Estilo icones Quando passa Mouse por cima -> */
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #007BFF;
  }
  
  /* Altura dos Botões -> */
  .sidebar .nav-list{
    margin-top: 10px;
    height: 100%;
  }
  
  /* Separa os Botões -> */
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  
  
  /* Estiliza Sidebar quando está em modo pequeno ->  */
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  
  
  
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background-color: #007BFF;
   
  }
  
  /* Estiliza Botões quando passa mouse por cima ->  */
  .sidebar li a:hover{
    background: #FFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  /* Esconde os Nomes Quando moto Pequeno */
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  
  /* Modela Tamanho e formato dos Botões  */
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  
  
  
  /* ---------------------Body Sidebar -> Fim ---------------*/
  
  
  /* funçoes sidebar -> Inicio */
  
  /* faz sidebar não cobrir itens  */
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }

  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
    color: #007BFF;
    font-size: 40px;
    }


    @keyframes color-rotate {
        from {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
      }
      
      .rainbow {
        animation: color-rotate 3s;
        animation-iteration-count: infinite; 
        animation-direction: alternate;
      }
      
    